@{
    ViewData["Title"] = (string)ViewData["Title"];
    var msg = (string)ViewData["Message"];
    var count = (int)ViewData["Count"];
}
<h2>@ViewData["Title"]</h2>
<p>@msg</p>
<p>Count: @count</p>
